/* Estilos globales */

@font-face {
  font-family: 'ChauPhilomeneOne-Regular';
  src: url('../fuentes/ChauPhilomeneOne-Regular.ttf') format('truetype'); /*ruta por referencia respecto carpeta donde se encuentra index.css*/
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Contenedor principal */
  body, html {
    height: 100%;
    font-family: 'ChauPhilomeneOne-Regular', sans-serif;
  }
  
  body {
    display: block;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #014AAD, #C96CE6); /* Cambiar colores del degradado */
  }

  /* Contenedor del contenido */
  .container {
    text-align: center;
    color: white;
  }
  
  /* Estilo del logo */
  .logo {
    font-size: 80px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Título principal */
  .main-heading {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Descripción */
  .description {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  /* Botón de entrada */
  .btn-entrar {
    background-color: #29211d;
    color: white;
    padding: 18px 120px;
    font-family: 'ChauPhilomeneOne-Regular', sans-serif;
    font-size: 40px;
    text-decoration: none;
    border-radius: 40px;
    transition: background-color 0.3s ease;
    width: 400px; /* Fija el ancho a 200px */
    height: 50px; /* Fija la altura a 50px */
  }
  
  .btn-entrar:hover {
    background-color: #0056b3;
  }


