@font-face {
  font-family: 'ChauPhilomeneOne-Regular';
  src: url('../fuentes/ChauPhilomeneOne-Regular.ttf') format('truetype'); /*ruta por referencia respecto carpeta donde se encuentra index.css*/
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(90deg, #014AAD, #C96CE6);
}

.container {
  text-align: center;
}

.logo-container {
  margin-bottom: 2vh;
}

.logo {
  font-size: 8vw;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  width: 20vw;  /* Ajusta el ancho relativo al 50% del ancho del viewport */
  height: auto; /* Mantén la relación de aspecto correcta */
  margin-bottom: 2vh;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 6vw;
  color: #000;
  text-shadow: 1px 1px 2px rgb(244, 29, 29), -1px -1px 2px rgb(0, 255, 255);
  font-family: 'ChauPhilomeneOne-Regular', sans-serif;
  margin-bottom: 2vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  background-color: #f2f2f2;
  border-radius: 6vh;
  padding: 1vh 2vw;
  width: 30vw;
  height: auto;
}

.icon {
  width: 3vw;
  height: auto;
  margin-right: 1vw;
}

.input-field {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.8vw;
  width: 100%;
  padding: 1vw;
  font-family: 'ChauPhilomeneOne-Regular', sans-serif;
}

.remember-container {
  display: flex;
  align-items: center;
  margin-bottom: 4vh;
}

.remember-label {
  font-size: 1.8vw;
  color: white;
  font-family: 'ChauPhilomeneOne-Regular', sans-serif;
  margin-left: 1vw;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.btn-entrar, .btn-cancelar {
  background-color: #29211d;
  color: white;
  padding: 1.5vw 4vh;
  font-size: 1.8vw;
  text-decoration: none;
  border-radius: 6vh;
  transition: background-color 0.3s ease;
  font-family: 'ChauPhilomeneOne-Regular', sans-serif;
  width: 20vw;
  height: auto;
  border: none;
  cursor: pointer;
}

.btn-entrar:hover {
  background-color: #4b3810;
  transform: translateY(-0.5vh); /* Mueve el botón hacia arriba */
  box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.4); /* Mueve la sombra */
}


.btn-cancelar:hover {
  background-color: #fd5a90;
  transform: translateY(-0.5vh); /* Mueve el botón hacia arriba */
  box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.4); /* Mueve la sombra */
}
