@font-face {
    font-family: 'ChauPhilomeneOne-Regular';
    src: url('/src/fuentes/ChauPhilomeneOne-Regular.ttf') format('truetype'); /*ruta por referencia respecto carpeta donde se encuentra index.css*/
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    font-family: 'Arial', sans-serif;
    background: linear-gradient(90deg, #014AAD, #C96CE6);
  }
  
  .container {
    text-align: center;
  }
  
  .logo-container {
    margin-top: 4vh;
  }
  
  .logo {
    font-size: 8vw;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    width: 90vw;  /* Ajusta el ancho relativo al 50% del ancho del viewport */
    height: auto; /* Mantén la relación de aspecto correcta */
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  h1 {
    font-size: 12vw;
    font-weight: bold;
    margin-bottom: 6vh;
    margin-top: 4vh;
    font-family: 'ChauPhilomeneOne-Regular', sans-serif;
    letter-spacing: 0.3vw;
    text-shadow: 0.1vw 0.1vw 0.2vw rgb(244, 29, 29), -0.1vw -0.1vw 0.2vw rgb(0, 255, 255);
    transition: transform 0.3s ease, text-shadow 0.3s ease; /* Transiciones suaves */
  }
  
  .core-container {
    display: flex;
    flex-direction: column; /* Organiza los elementos en una fila */
    align-items: center; /* Alinea verticalmente los elementos */
    gap: 2vh; /* Espacio entre los botones y la animación */
    margin-bottom: 2vh;
  }

  .input-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Para alinear los elementos en el centro verticalmente */
    align-items: center;
    margin-bottom: 1vh;
    background-color: #f2f2f2;
    border-radius: 4vh;
    padding: 1vw 2vh;
    width: 90%;
    height: 8vh;
  }
  

  .icon {
    width: 5vw;
    height: auto;
    margin-right: 1vw;
  }
  
  .input-field {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 5vw;
    width: 100%;
    padding: 1vw;
    font-family: 'ChauPhilomeneOne-Regular', sans-serif;
  }
  
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vh;
    width: 100%;
    height: 20vh;
    margin-bottom: 2vh;
  }
  
  .btn-Si, .btn-No {
    background-color: #29211d;
    color: white;
    padding: 4vw 4vh;
    font-size: 10vw;
    text-decoration: none;
    border-radius: 6vh;
    transition: background-color 0.3s ease;
    font-family: 'ChauPhilomeneOne-Regular', sans-serif;
    width: 40%;
    border: none;
    cursor: pointer;
  }

  .btn-Si:hover {
    background-color: #4b3810;
    transform: translateY(-0.5vh); /* Mueve el botón hacia arriba */
    box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.4); /* Mueve la sombra */
  }

  .btn-Si:active {
    background-color: #3a2c08; /* Cambia a un color más oscuro o diferente cuando se presiona */
    transform: translateY(0.5vh); /* Mueve el botón hacia abajo para simular la acción de clic */
    box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.3); /* Ajusta la sombra durante el clic */
}

  .btn-No:hover {
    background-color: #4b3810;
    transform: translateY(-0.5vh); /* Mueve el botón hacia arriba */
    box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.4); /* Mueve la sombra */
  }

  .btn-No:active {
    background-color: #3a2c08; /* Cambia a un color más oscuro o diferente cuando se presiona */
    transform: translateY(0.5vh); /* Mueve el botón hacia abajo para simular la acción de clic */
    box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.3); /* Ajusta la sombra durante el clic */
}

  .btn-like {
    background-color: #f0b223;
    display: flex;
    color: white;
    padding: 4vw 4vh;
    font-size: 6vw;
    gap: 4vw;
    text-decoration: none;
    border-radius: 4vh;
    transition: background-color 0.3s ease;
    font-family: 'ChauPhilomeneOne-Regular', sans-serif;
    width: 80%;
    border: none;
    cursor: pointer;
    align-items: center; /* Alineación vertical */
    justify-content: center; /* Alineación horizontal */
  }

  .btn-like:hover {
    background-color: #fd5a90;
    transform: translateY(-0.5vh); /* Mueve el botón hacia arriba */
    box-shadow: 1vw 1vw 2vw rgba(0, 0, 0, 0.4); /* Mueve la sombra */
  }

  .btn-like:active {
    background-color: #fd5a90; /* Cambia a un color más oscuro o diferente cuando se presiona */
    transform: translateY(0.5vh); /* Mueve el botón hacia abajo para simular la acción de clic */
    box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.3); /* Ajusta la sombra durante el clic */
}
  .icono-like {
    width: 12vw; /* Ajusta el tamaño del icono */
    height: auto;
  }
  